* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

  section {
    height: 100vh;
    width: 100vw;
  }

  #one {
    background-color: FFEFEF;
  }

  #two {
    background-color:aquamarine
  }

  #three {
    background-color: blue;
  }

  #four {
    background-color: rgb(148, 29, 29);
  }

  #five {
    background-color: aqua;
  }

  #six {
      background-color: darkgreen;
  }

  #seven {
    background-color: FFEFEF;
  }

body {
    margin: 0;
    background-color: lavenderblush;
}

nav {
    display: flex;
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px rgb(255, 7, 7) solid;
}

.navigation-one {
    flex: 1;
    order: 2;
}

.navigation-two {
    flex: 1;
    order: 2;
}

.navigation-three {
    flex: 1;
    order: 3;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 220px;
    color: rgb(196, 21, 56);
}

h2 {
    font-weight: normal;
    font-style: normal;
    font-size: 150px;
    justify-content: center;
}

h4 {
    font-size: 30px;
}

.links {
    text-decoration: none;
    border-bottom: none;
}

.photo {
    width: 500px;
}

.graphic-pom {
    width: 800px;
    margin-left: 700px;
    margin-top: 50px;
}

p {
    font-size: 80px;
    color: rgb(196, 21, 56);
}

.container-one {
    margin-top: 160px;
    display: flex;
    order: 1;
    border: 2px solid red;
}

.container-one-box-one {
    margin-left: 70px;
    order: 1;
    border: 2px solid red;
}

.container-one-box-two {
    order: 2;
    margin-left: 40px;
}

.container-two {
    display: flex;
    order: 1;
    border: 2px solid red;
}

.container-two-box-one {
    margin-left: 70px;
    order: 1;
}

.container-two-box-two {
    order: 2;
    margin-left: 40px;
}

.container-three {
    display: flex;
    order: 1;
}

.container-three-box-one {
    margin-left: 70px;
    order: 1;
}

.container-three-box-two {
    order: 2;
    margin-left: 40px;
}

.container-four {
    display: flex;
    order: 1;
}

.container-four-box-one {
    margin-left: 70px;
    order: 1;
}

.container-four-box-two {
    order: 2;
    margin-left: 40px;
}