body {
    background-color: lavenderblush;
}

h1 {
    margin: auto;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 100px;
    color: rgb(196, 21, 56);
}

p {
    font-size: 50px;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(196, 21, 56);
}

.container-one {
    display: flex;
}